<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.braskem.com.br/">
<html>
<head>
<title>BlueGreenDeployment Braskem</title>
<meta http-equiv="content-type"  content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>
<body>
<div id="container">
<div id="header"><h1><a href="https://www.redhat.com/en/topics/devops/what-is-blue-green-deployment">BlueGreenDeployment Concept</a></h1></div>
  <div id="wrapper">
    <div id="content">
      <p><strong>Components Used On Azure/AzureDevops</strong></p>
      <p>Azure Front Door (Load Balancer,WAF,) </p>
      <p>Web App Container (Host Web)</p>
      <p>Contaner Registry (Docker Images)</p>
      <p>Azure Devops (CI/CD Deployment/Git Repos )</p>
    </div>
  </div>
  <div id="navigation">
    <p><strong>Click on Links Below:</strong></p>
    <ul>
      <li><a href="https://bit.ly/3kvzUVO">Azure Front Door</a></li>
      <li><a href="https://bit.ly/3CmrTst">Web App Container</a></li>
      <li><a href="https://bit.ly/3FelhhE">Slots Web App Azure</a></li>
      <li><a href="https://bit.ly/30gbmZI">Contaner Registry</a></li>
      <li><a href="https://bit.ly/3n5zqqZ">Azure Devops</a></li>
    </ul>
  </div>
  <div id="extra">
    <p><strong>Purpose:.</strong></p>
    <p>Demonstration how blue green deployment will work,</p>
    <p> using Web App slots on Azure. </p>
  </div>
  <div id="footer">
    <p>Rodrigo Moro - Infosys/Braskem</p>
  </div>
</div>
    <div id="footer2">
    <p>V.3</p>
</div>
</div>
  <img src="static/css/bluegreenbraskem.jpg">
</div>
</body>
</html>